.faq_section {
    margin: 2rem 0;
    padding: 1rem;
}

.faq_section>h1 {
    text-align: center;
    margin: 1rem 0;
}

.container {
    max-width: 1300px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}

@media (max-width: 1000px) {
    .faq_section{
        margin: 0;
        padding: 0.8rem;
    }
    .faq_section>h1{
        font-size: 1.8rem;
    }
    .container{
        padding: 1rem;
    }
  }